/* header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: lightcoral;
} */
.sidebar {
  position: absolute;
  top: 0;
  right: -15vw;
  height: 100%;
  width: 15vw;
  transition: right 0.3s ease-in-out;
  background-color: lightgray;
}

/* button for sidebar toggle */
.sidebar-toggle {
  position: absolute;
  top: 20vh;
  left: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: lightsalmon;
}

.sidebar.open {
  right: 0;
}
.content.open {
  right: 15vw;
  background-color: lightsalmon;

}
.nav-link {
	font-size: 1.25em
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #ffffff26
}