/* header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: lightcoral;
} */
.dashboard {
  background-color: yellow;
}

.navbar-nav {
  list-style-type: none;
  }
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 15vw;
  transition: right 0.3s ease-in-out;
  background: #0B1F2D;
  border-radius: 12px 0px 0px 12px;
}

/* button for sidebar toggle */
#App #dashboard .row .col #sidebar .sidebar-toggle{
  position: fixed;
  top: 2vh;
  right: 1vw;
  z-index: 1;
  background-color: #2C4F66;
  color: white ;
  border-color: #2C4F66;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: #D9D9D9;
}

.papers-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: #D9D9D9;
}
.paper-details-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: lightgoldenrodyellow;
}
.new-paper-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: #D9D9D9;
}

.papers-table {
  
  border-radius: 20px;
  width: 50vw;
  background-color: #F6FBF4;
}

.edit-info-form {
  margin-right:7vw ;
  margin-left: 1vw; 
}
.details-of-paper {
  background-color: lightblue;
}

.sidebar.open {
  right: 0;
}
.content.open {
  right: 15vw;

}
.edit-info-content.open {
  right: 15vw;

}
.papers-content.open {
  right: 15vw;

}
.paper-details-content.open {
  right: 15vw;

}
.new-paper-content.open {
  right: 15vw;

}
.nav-link {
	font-size: 1.4em;
  height: 8vh;

}
.link-of-nav {
  text-decoration: none ;
  list-style-type: none;
  color:white;
}
.link-of-nav:hover {
  color:white;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #2C4F66;
  border-radius: 12px ;
}


body #root #App #dashboard .row .col .container  .add-paper-btn {
  background-color:#F66B0E  ;
  border-radius: 12px;
  margin-bottom: 1vh;
}
body #root #App #dashboard .row .col .container  .add-paper-btn:hover {
  background-color:#dd6210  ;

}
